

<div class="movieForm">
    <div>

        <div class="card">
            <h4 class="card-header">New Movie Form</h4>
            <div class="card-body">
                <form [formGroup]="newMovieForm" (ngSubmit)="onSubmit()">
                  
                        <div *ngIf="submitFail"><i style="color: red">Something went wrong with the submition</i></div>
                
                    <div class="form-group">
                        <label for="movieTitle" >Movie Title <i style="color: grey">(required)</i></label>
                        <input type="text" formControlName="movieTitle" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.movieTitle.errors }" placeholder="Movie Title" required="true" />
                        <!-- <div *ngIf="submitted && f.movie_title.errors" class="invalid-feedback">
                            <div *ngIf="f.movie_title.errors.required">movieTitle is required</div>
                        </div> -->
                    </div>


                    <!-- <div class="form-group">
                        <label for="runtime">Runtime <i style="color: grey">(required)</i> </label>
                        <input type="time" step='1'  value="10:30:10" formControlName="runtime" class="form-control without_ampm"   />
                        <div *ngIf="submitted && f.runtime.errors" class="invalid-feedback">
                            <div *ngIf="f.runtime.errors.required">runtime is required</div>
                        </div>
                    </div> -->

                    <!-- <div class="form-group">
                        <label for="runtime">Runtime <i style="color: grey">(required)</i> </label>
                        <input type="number" maxlength="6" 
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                        placeholder="hh:mm:ss" id="runtime" min='0'   formControlName="runtime" class="form-control"  />
                        <div *ngIf="submitted && f.runtime.errors" class="invalid-feedback">
                            <div *ngIf="f.runtime.errors.required">runtime is required</div>
                        </div>
                    </div> -->

                    <form >
                        <label for="runtime">Runtime <i style="color: grey">(required)</i> </label>
                        <br>
                        <input type="number"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                        maxlength="2" size='2' name="hh" placeholder ="hh" id="numin" [(ngModel)]="hh" />
                        :
                        <input type="number"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                        maxlength="2"  name="mm" placeholder ="mm" id="numin" [(ngModel)]="mm" />
                        :
                        <input type="number"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                        maxlength="2"  name="ss" placeholder ="ss" id="numin" [(ngModel)]="ss" />
                    </form>
          
                    <!-- <div class="form-group">
                        <label for="genre">Genre</label>
                        <input type="genre" formControlName="genre" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.genre.errors }" placeholder="Genre" />
                        <div *ngIf="submitted && f.genre.errors" class="invalid-feedback">
                            <div *ngIf="f.genre.errors.required">genre is required</div>
                        </div>
                    </div> -->
                    
                    <div class="form-group">
                        <label for="genre">Genre</label>
                        <select class="custom-select"  (change)="changeGenre($event)" formControlName="genre">
                            <option [ngValue]="null" selected disabled>Choose the Genre</option>
                            <option *ngFor="let genre of genreList" [value]="genre.genreId" >
                                {{genre.name}}
                            </option>
                        </select>
                    </div>


                    <!-- <select [(ngModel)]="currentGenre">
                        <option *ngFor="let genre of genreList">
                           {{genre.name}}
                        </option>
                     </select> -->


                    <div class="form-group">

                      
                   

                        <button  class="btn btn-primary">
                          
                            Add Movie
                        </button>
                       
                    </div>
                </form>
            </div>
        </div>
     
        
        </div>
</div>
